body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
}

#endText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 32px;
  font-family: Arial, sans-serif;

  text-align: center;
  text-shadow: 0 0 10px black;

  opacity: 0;
  transition: opacity 1s ease;

  pointer-events: none;
  white-space: pre-line;
  z-index: 2;
}
